header{
  display: flex;
  border: solid green 5px;
  max-height: fit-content;
}
.navImg{
  flex: 1;
  max-width: fit-content;
}
.navImg img{
  width: 8em;
}
.navBar {
  flex: 3;
  text-align: center;
  font-size: 33px;
  background-color: greenyellow;
}
main{
  display: flex;
  justify-content: space-around;
}
.links_images {
  display: flex;
  border: solid green;
  max-width: fit-content;
}

.img_column_left {
  display: flex;
  flex-direction: column;
  width: 30em;
}

.img_column_middle {
  display: flex;
  flex-direction: column;
  max-width: 30em;
}

.img_column_right {
  display: flex;
  flex-direction: column;
  max-width: 30em;
}
.text_div{
  text-align: center;
}