header {
    display: flex;
    border: solid green 5px;
}

.navImg {
    flex: 1;
    max-width: fit-content;
}

.navImg img {
    width: 8em;
}

.logo {
    border-radius: 20;
}

body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0b/New_Zealand_relief_map.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navBar {
    flex: 3;
    text-align: center;
    font-size: 33px;
    background-color: greenyellow;
}

image {
    border-radius: 1Spx;
}

.country_image img {
    max-width: 40em;
}

.clz {
    display: flex;
    flex-wrap: wrap;
}

.cities {
    border: solid green 2px;
    margin: 5px;
}

.landmarks {
    border: solid green 2px;
    margin: 5px;
}

.citizens {
    border: solid green 2px;
    margin: 5px;
}

.name {
    font-size: 50px;
    color: crimson;
}